.card {
  width: 325px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  top: 15px;
  margin: 0;
  border: none;
  border-radius: 9px;
  background-color: #ffffff;
  padding: 2px 12px;
  color: #00000099;
}

.card__image-container {
  display: flex;
  justify-content: center;
}

.card__image {
  width: 325px;
  height: 328px;
  border-radius: 19px;
  border: 1px solid #0000004d;
  object-fit: cover;
}

.card__like-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .card__like-btn:hover {
} */

.card__like-btn_active {
  background-color: transparent;
}

.card__like-btn_hidden {
  display: none;
}
